header{
    background-image: url('../images/Hero-bg.png');
    min-height: 500px;
}

.header-container{
    max-width: 1140px;
    margin: 0 auto;
}

.logo{
    font-weight: 900;
    font-size: 36px;
    color: #4E47FF;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.banner{
    padding: 150px 0;
}

.banner h1{
    max-width: 905px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 65px;
    /* padding-top: 150px; */
}

.banner a button{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    /* padding-bottom: 150px; */
}